In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import keras
import os

Using TensorFlow backend.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
path = '/content/drive/My Drive/Colab Notebooks/sp-society-camera-model-identification'
os.chdir(path)
trainpath = path+"/test"
os.chdir(trainpath)


df1 = pd.read_pickle(path+'/test/test_images1.pkl')
df2 = pd.read_pickle(path+'/test/test_images2.pkl')
df1 = pd.concat([df1,df2])
df1.shape

(2640, 2)

In [8]:
df1.head()

                                            location                                              image
0  D:\Study\Capstone\capstone_app\Data\test\img_0...  (((tf.Tensor(0.2851852, shape=(), dtype=float3...
1  D:\Study\Capstone\capstone_app\Data\test\img_0...  (((tf.Tensor(0.662963, shape=(), dtype=float32...
2  D:\Study\Capstone\capstone_app\Data\test\img_0...  (((tf.Tensor(0.84313726, shape=(), dtype=float...
3  D:\Study\Capstone\capstone_app\Data\test\img_0...  (((tf.Tensor(0.12037037, shape=(), dtype=float...
4  D:\Study\Capstone\capstone_app\Data\test\img_0...  (((tf.Tensor(0.051089324, shape=(), dtype=floa...

In [9]:
def reshape_input_cnn(X):
    X = np.stack(X.values) #convert a pandas series of arrays into one single array
    return X

xtest = reshape_input_cnn(df1['image'])

In [10]:
model = keras.models.load_model(path+'/model/cnn_model_v2.h5')
ytest = model.predict(xtest)
ytest

array([[1.9902358e-02, 7.5166102e-04, 3.1502598e-03, ..., 7.8370756e-01,
        1.2177136e-01, 9.0900733e-07],
       [6.7951134e-04, 4.6238488e-06, 8.3495589e-12, ..., 4.0479973e-02,
        5.3872168e-02, 1.1575231e-06],
       [8.5356110e-01, 5.4782370e-11, 8.6343437e-02, ..., 2.0279449e-06,
        8.1866756e-06, 5.4115122e-15],
       ...,
       [4.6434449e-03, 4.4059803e-10, 1.1578002e-10, ..., 2.4275549e-05,
        2.3689597e-06, 8.1778182e-08],
       [6.2742214e-07, 1.5105861e-10, 6.9907149e-03, ..., 3.6666892e-02,
        1.3702627e-16, 1.2819043e-04],
       [9.7974797e-12, 1.3654251e-16, 1.0000000e+00, ..., 8.0128819e-16,
        2.1894014e-12, 2.0905285e-12]], dtype=float32)

In [13]:
temp = np.argmax(ytest[1])
temp

6

In [15]:
#Initial class definition
class_dict = {'HTC-1-M7': 0,
 'iPhone-4s': 1,
 'iPhone-6': 2,
 'LG-Nexus-5x': 3,
 'Motorola-Droid-Maxx': 4,
 'Motorola-Nexus-6': 5,
 'Motorola-X': 6,
 'Samsung-Galaxy-Note3': 7,
 'Samsung-Galaxy-S4': 8,
 'Sony-NEX-7': 9}

inv_class = {v:k for k,v in class_dict.items()}
inv_class

{0: 'HTC-1-M7',
 1: 'iPhone-4s',
 2: 'iPhone-6',
 3: 'LG-Nexus-5x',
 4: 'Motorola-Droid-Maxx',
 5: 'Motorola-Nexus-6',
 6: 'Motorola-X',
 7: 'Samsung-Galaxy-Note3',
 8: 'Samsung-Galaxy-S4',
 9: 'Sony-NEX-7'}

In [17]:
y_predicted = [inv_class[np.argmax(y)] for y in ytest]

In [18]:
df1['camera']= y_predicted
df1.head()

                                            location  ...                camera
0  D:\Study\Capstone\capstone_app\Data\test\img_0...  ...  Samsung-Galaxy-Note3
1  D:\Study\Capstone\capstone_app\Data\test\img_0...  ...            Motorola-X
2  D:\Study\Capstone\capstone_app\Data\test\img_0...  ...              HTC-1-M7
3  D:\Study\Capstone\capstone_app\Data\test\img_0...  ...  Samsung-Galaxy-Note3
4  D:\Study\Capstone\capstone_app\Data\test\img_0...  ...            Motorola-X

[5 rows x 3 columns]

In [32]:
df1['fname'] = df1['location'].apply(lambda x:x.split("\\")[6])
df1.head(3)

                                            location  ...                  fname
0  D:\Study\Capstone\capstone_app\Data\test\img_0...  ...  img_0002a04_manip.tif
1  D:\Study\Capstone\capstone_app\Data\test\img_0...  ...  img_001e31c_unalt.tif
2  D:\Study\Capstone\capstone_app\Data\test\img_0...  ...  img_00275cf_manip.tif

[3 rows x 4 columns]

In [37]:
headers = ['fname','camera']
df1.to_csv('camera_output.csv',columns=headers, header=headers)

# New Section

# New Section

# New Section